﻿
@{
    ViewBag.Title = "HTML5 WebSockets";
    <script src="~/Scripts/Chat.js"></script>
}
<style>
    h1 {
        color: blue;
        text-align: center;
        font-family: "Helvetica Neue", Arial, Sans-Serif;
        font-size: 1em;
    }
</style>

<h1>HTML5 WebSocket chat.</h1>
<input type="text" id="text-view" />
<input type="button" value="Send!" id="send-button" />
<input type="button" value="Stop" id="stop-button" />
<br />
<label id="status-label">Status</label>
<script>
    Chat();
</script>
 

